<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset</title>
</head>

<style>
    a:link {
        color: green;
    }

</style>

<body style="background-color: black; font-family: 'Inconsolata', monospace; color: white; font-size: 60%; margin: 20px;  line-height: 30px">
<div style="margin: 20px;">
    <h1>To set new password, just open this <a style="text-decoration: none;"
                                                   href="http://localhost:8080/api/reset?key={{.}}">link</a></h1>
    <h2>Hurry up: you have only <u>five</u> minutes until key expires<br>© Fort Studio 2022</h2>
</div>
</body>
</html>