<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify</title>
</head>

<style>
    a:link {
        color: green;
    }

</style>

<body style="background-color: black; font-family: 'Inconsolata', monospace; color: white; font-size: 60%; margin: 20px;  line-height: 30px">
<div style="margin: 20px;">
    <h1>To verify your account, just open this <a style="text-decoration: none; "
                                                   href="https://localhost:8080/api/verify?key={{.}}">link</a></h1>
    <h2>Hurry up: you have only <u>five</u> minutes until key expires<br>© Fort Studio 2022</h2>
</div>
</body>
</html>