<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header/style.css">

    <link rel="stylesheet" href="/css/element/links.css">

    <meta charset="UTF-8">
    <title>Main Page</title>
</head>

<style>
    footer {
        bottom: 0;
        height: 2em;
        left: 0;
        /*position: fixed; !* OldProperty *!*/
        position: static; /* Updated Property */
        font-size: small;
        width: 100%;
    }
</style>

<body style="background-color: black; font-family: 'Inconsolata', monospace; color: white; margin: 20px">
<header>
    <div class="center">
        <img src="/images/logo.jpg" alt="logo"/>
        <h1><a href="/">Fort Studio</a></h1>
        <br>
    </div>
</header>
<div style="text-align: center;">
    <h1>Welcome back, {{.Email}}</h1>
    <a href="/api/logout" style="font-size: 30px;"><strong>Logout</strong></a>

    <!--    <h3>or</h3>-->
<!--    <h2>Fuck it, <a href="/delete">delete account</a></h2>-->

    {{if gt .Level 0}}
    <br>
    <a href="/admin" style="font-size: 30px;"><strong>Admin Panel</strong></a>
    {{ end }}

</div>


</body>
</html>